<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>メールでつぶやく。TEM</title>
<meta name="keywords" content="Twitter, ツィッター, Tweet, ツィッター, メール, メールでTwitter, リンギオ" />
<meta name="description" content="メールでツィート" />
<link href="/css/templatemo_style.css" rel="stylesheet" type="text/css" />
<link href="/css/fullsize.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.fullsize.minified.js"></script>
<script language="javascript" type="text/javascript">
$(function(){
				$("div.templatemo_gallery img").fullsize();
			});
</script>
</head>
<body>
	<div id="templatemo_container">
    	<div id="templatemo_content_area">
        	<div id="templaetmo_left">
            	<div id="templatemo_logo_area">
                	<div id="templaetmo_logo">
                    	TEM
                    </div>
                    <div id="templaetmo_slogan">
                    	TweEt with e-Mail
                    </div>
                </div>
                
                <div class="templatemo_menu">
                	<ul>
						<li><a href="/app/">ログイン</a></li>
					</ul>
                </div>
                
                <div class="templatemo_section_1">
                	<h1>Quick Contact</h1>
					<p>
    <!-- twitter -->
    <div id="twitter">
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 6000,
        width: 186,
        height: 300,
        theme: {
          shell: {
            background: '#b3afb3',
            color: '#ffffff'
          },
          tweets: {
            background: '#f7f4f7',
            color: '#5acded',
            links: '#4aed05'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('ElRingio').start();
      </script>
    </div>
    <!-- twitter -->
					</p>

			  </div>

            </div><!-- End Of left -->
            
            <div id="templaetmo_right">
            	<div id="templaetmo_right_top">
                	<h1>TEM へようこそ</h1>
                </div>
                <div id="templaetmo_right_mid">
                	<div class="templaetmo_one_col">
                    	<img src="/images/templatemo_img_2.jpg" alt="Bridge" />
						<p>Twitterにメールでつぶやけるサービスです。</p>
                        <p>Twitterアカウント毎に個別のメールアドレスを割り当てるので、それを利用してメールでつぶやくことができます。</p>
                        <p>ぜひ <a href="/app/">ログイン</a> して使ってみてください！</p>
                      <div class="cleaner"></div>
					</div>
                    
                    <div class="templatemo_two_col">
                    	<h1>このサイトの対象者</h1>
                        <img src="/images/templatemo_icon_1.png" alt="services" />
                        
                        <p>出先からつぶやきたいけどインターネット接続ではなくメールでしたい方を対象としています。</p>
                    </div>
                    
                    <div class="templatemo_v_line">
                    </div>
                    
                    <div class="templatemo_two_col templaetmo_two_col_right">
                    	<h1>利用条件</h1>
           				<ul class="templatemo_list">
                          <li>Twitterアカウントを作成する</li>
                          <li>TwitterからCunsumer Key と Consumer secret を取得する</li>
                          <li>TwitterからAccess Token と Access Token Secret を取得する</li>
                        </ul>
                   </div>
                    
                    <div class="cleaner"></div>
                    
                    <div class="templatemo_h_line"></div>
                    
                    <div class="templatemo_section_2">
                    	<div class="templatemo_section_2_top">
                        </div>
                        
                        <div class="templatemo_section_2_mid">
                        	<h1>最新ニュース</h1>
                            <img src="/images/templatemo_icon_2.png" alt="News And Events" />
                        	<p>2010/08/04 に 1.0 をリリースしました。</p>
                        	<p>それ、○○○で出来るよ！とは言わずに生暖かく見守ってくださいね。</p>
                        	<p>久しぶりの GAE for Python で楽しいです。</p>
                        	<p>私信：ボルダリングをやりたい！と強く思うこのごろ。</p>
                      </div>
                        
                        <div class="templatemo_section_2_bottom">
                        </div>
                    </div>
                </div><!-- End Of right mid-->
                
                <div id="templaetmo_right_bottom">
            		<div id="templatemo_footer">
                    	Copyright © 2024 <a href="#">Ringio</a> | Designed by <a href="http://www.templatemo.com/page/1" target="_parent">Free CSS Templates</a>
                    </div>
	            </div>
                    
			</div><!-- End Of right-->

            <div class="cleaner"></div>
        </div><!-- End Of Content area -->
    </div><!-- End Of Container -->

<!--  Free CSS Templates by TemplateMo.com  -->
</body>
</html>
